.NavbarItems
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 35px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,.25);
    width:95%;
    height:50px;
    border-radius: 13px;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.navbar-logo
{
    color:aqua;
    font-size:2rem;
    cursor:pointer;
}

.nav-menu
{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    list-style: none;
    align-items: center;
    margin-right: 400px;
}

.Home
{
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight:600px;
    padding :0.7rem 1rem;
    white-space: nowrap;
}
.Category
{
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight:600px;
    padding :0.7rem 1rem ;
    white-space: nowrap;
}




.Product
{
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight:600px;
    padding :0.7rem 1rem;
    white-space: nowrap;
}
.Cart
{
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight:600px;
    padding :0.7rem 1rem;
    white-space: nowrap;
}
.Feedback
{
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 1.2rem;
    font-weight:600px;
    padding :0.7rem 1rem;
    white-space: nowrap;

}

.Home:hover{
    background-color: #01959a;
    color:rgb(251, 251, 251);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.Category:hover{
    background-color: #01959a;
    color:rgb(251, 251, 251);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.Product:hover{
    background-color: #01959a;
    color:rgb(251, 251, 251);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.Cart:hover{
    background-color: #01959a;
    color:rgb(251, 251, 251);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.Feedback:hover{
    background-color: #01959a;
    color:rgb(251, 251, 251);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.hbtn
{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    cursor:pointer;
}

.hbtn:hover{
    background-color: #151516;
    color:white;
    
}




    
