.UContainer
{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right,red,yellow,pink);
    font-family:'Courier New', Courier, monospace;
}


.Umain
{
    width:600px;
    height:600px;
    border:0px solid black;
    background: red;
    overflow:hidden;
    background-color:aqua;
    margin-left: 50px;
    margin-top:30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#Uchk
{
    display: none;
}

.Usignup
{
    position:relative;
    width:100%;
    height:100%;
    /* margin-top: -100px; */
}

.UII{
    color:rgb(13, 13, 200);
    font-size:35px;
    justify-content: center;
    display:flex;
    /* margin-bottom:-100px; */
    margin:60px;
    font-weight:bold;
    cursor:pointer;
    transition:.5s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
.UIII
{
    color:rgb(200, 13, 13);
    font-size:35px;
    justify-content: center;
    display:flex;
    /* margin-bottom:-100px; */
    margin:60px;
    font-weight:bold;
    cursor:pointer;
    transition:.5s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -20px;
    text-decoration: underline;
}

input
{
    width:60%;
    height:20px;
    background: white;
    justify-content:center;
    display:flex;
    margin:20px auto;
    padding:10px;
    border:none;
    outline:none;
    border-radius:5px;
    font-family: 'Courier New', Courier, monospace;
}

.Ubt{
    width:100px;
    height:40px;
    margin:10px auto;
    justify-content: center;
    display:block;
    color:rgb(255, 255, 255);
    background: rgb(13, 197, 13);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline:none;
    border:none;
    border-radius:5px;
    transition:.2s ease-in;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
}

.Ubt:hover{
   background: rgb(238, 153, 130);
   color:brown;
}

.ULogin{
    height:420px;
    margin-top: 50px;
    background:rgb(16, 67, 104);
    border-radius: 60% / 10%;
    transform:translateY(-180px);
    transition:.20s ease-in-out;
}

.ULogin label{
    color:rgb(214, 21, 21);
    transform:scale(.6);
}


#Uchk:checked ~ .Login
{
    transform:translateY(-595px);
    /* transform:translatex(-593px); */
}

#Uchk:checked ~ .Login label{
    transform:scale(1);
}

#Uchk:checked ~ .signup label{
    transform:scale(.7);
} 

.Usignup{
    color:rgb(23, 23, 208);
    margin-left: 0px;
    margin-top: 40px;
}

.Uusr
{
    margin-top: -32px;
} 

.Usgoo
{
    margin-left: 250px;
    margin-top: 10px;
}
    .Uimage-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        color: #070000;
        padding: 10px 20px;
        margin-top: 5px;
        margin-left: -40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .Uimage-button img {
        height: 20px;
        margin-right: 10px;
        /* margin-left: ; */
      }
      .Uor
      {
        font-weight: bold;
        margin-left: 295px;
      }

      .Uemail
      {
       margin-top: 70px;
      }